@import "_mixins";

h1 {
  color: red;
  @include responsive("iphone") {
    color: blue;
  }
  @include responsive("iphone-l") {
    font-size: 100px;
    font-weight: bold;
  }
  @include responsive("tablet") {
    color: green;
  }
  @include responsive("tablet-l") {
    font-size: 120px;
    font-weight: bold;
  }
}
